.container {
    display: flex;
    
    
    
    /*flex-direction: column;*/
    /*flex-direction: row-reverse;*/
    /*flex-direction: column-reverse;*/
    
    /* flex-wrap: wrap; */

    /* flex-wrap: wrap-reverse; */
    .item:nth-child(1) {
        order: 3;
        }
        .item:nth-child(2) {
        order: 1;
        }
        .item:nth-child(3) {
        order: 2;
        }
}
